<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
    <h1>your feed</h1>
<% @followees.each do |followee| %>
  <h2><a href="/foodies/<%=followee.id%>"><%= followee.name %></h2>
  <% followee.posts.each do |post| %>
    <p><a href="/posts/<%=post.id%>"><%= post.text %></a></p>
    <p><a href="/posts/<%=post.id%>"><%= post.address %></a></p>
  <% end %>
<% end %>
</div>
</div>
</div>