<h1>New post:</h1>

<%= form_tag '/posts', method: :post do %>
  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div>
    <%= label_tag :text %>
    <%= text_field_tag :text %>
  </div>
  <%= submit_tag "Create post!" %>
<% end %>