<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @post.text%></h1>
      <h2>Address: <%= @post.address%></h2>
      <p>Posted: <%= distance_of_time_in_words(Time.now, @post.created_at) %> ago</p>

<br />
  
  <h4>Tags:
    <% @post.tags.each do |tag| %>
      <a href="/posts?tag=<%= tag.name %>"><%= tag.name %></a>  
    <% end %>
  </h4>
  
<br />
  
  <h4>Image:
    <% @post.images.each do |image| %>
    <img src="<%= image.url %>" alt="no image for this post">
    <% end %>
  </h4>
  
<section>

<%= render @post.comments %>

<br />
 
  <h5>Add a comment:</h5>
    <%= render "comments/form" %>
 
</section>

<div>
  <a href='/posts'>back to all posts</a>
<br />  
  <%= link_to "edit post", "/posts/#{@post.id}/edit" %>
<br />
  <%= link_to "delete post", "/posts/#{@post.id}", method: :delete %>
</div>

    </div> 
  </div>
</div>