<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @post.text%></h1>
      <h2><%= @post.address%></h2>
      <p>Posted: <%= distance_of_time_in_words(Time.now, @post.created_at) %> ago</p>

<br>
  
  <h4>
    <% @post.tags.each do |tag| %>
      <%= tag.name %></a>  
    <% end %>
  </h4>
  
<br>
  
  <h4>
    <% @post.images.each do |image| %>
    <img src="<%= @post.image_url %>", style="height: 200px; width: 150px; border: 2px solid black">
    <% end %>
  </h4>
  
<br>

<%= render @post.comments %>

<br>
 
  <h5>Add a comment:</h5>
    <%= render "comments/form" %>

<br>

<h5>Add A Tag</h5>

<%= form_for(@post) do |f| %>
  <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {prompt: "Select Tags", multiple: true}) %>
<br>
  <%= f.submit "Add Tags" %>
<% end %>
<br>

<div class="wpc-contactUs-button">
  <a href='/posts' class="u-footer-form__btn u-btn u-btn--small u-btn--grey u-btn--hover-grey">back to all posts</a>

<!--   <%= link_to "edit post", "/posts/#{@post.id}/edit" %> -->
<br>
<br>
  <%= link_to "delete post", "/posts/#{@post.id}", :class => "u-footer-form__btn u-btn u-btn--small u-btn--grey u-btn--hover-grey", method: :delete %>
</div>

    </div> 
  </div>
</div>